body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(45deg, #ffafbd, #ffc3a0);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  button {
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  #yes-button {
    background-color: #4caf50;
    color: white;
  }
  
  #no-button {
    background-color: #f44336;
    color: white;
  }
  
  .hidden {
    display: none;
  }
  
  #congrats h1 {
    color: white;
  }

